.app {
    text-align: center;
    margin-top: 50px;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .board {
    margin: 20px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 2rem;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    width: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .info {
    margin-top: 20px;
  }
  
  button {
    cursor: pointer;
  }
  